<launch>
    <arg name="port" default="26"/>
    
    <node name="pharos_tlcm_driver" pkg="pharos_interface_driver" type="pharos_tlcm_driver_node" output="screen">
        <param name="device_name" value="/dev/input/event$(arg port)"/>
        <param name="loop_rate" value="0.01"/>
    </node>
</launch>
