<launch>
	<arg name="input_topic" default="/t300/state"/>
	<arg name="output_topic" default="/carla/ego_vehicle/vehicle_control_cmd_manual"/>
	<arg name="arg1" default="0"/>

	<node name="pharos_carla_bridge_node" pkg="pharos_carla_bridge" type="pharos_carla_bridge_node" output="screen">
		<param name="input_topic" value="$(arg input_topic)"/>
		<param name="output_topic" value="$(arg output_topic)"/>

		<remap from="test_pub" to="test_pub" />
		<remap from="test_sub" to="test_sub" />
	</node>

	<!-- <include file="$(find pharos_pkg)/launch/pharos_launch.launch">
		<arg name="param1" value="$(arg arg1)" />
	</include> -->

</launch>